:root {
  --black: #282828;
  --blue: #2892f9;
  --red: #fb2f27;
  --yellow: #fdfe29;
}

html,
body {
  margin: 0;
  padding: 0;
}

.rings {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ring-1 {
  background-color: var(--black);
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ring-2 {
  background-color: var(--blue);
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ring-3 {
  background-color: var(--red);
  width: 19rem;
  height: 19rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullseye {
  background-color: var(--yellow);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
